h3 {  
    color : green;
    background-color: pink;   
}

h1 {  
    color : blueviolet;
    background-color: lightskyblue;   
    padding: 10px 12px;
    text-align: center;   
}
div {
    margin-left: 200px;  
}

#password {
    margin-left: 5px;
}

#submit {
    margin-left: 297px;
}
.container i {
    margin-left: -30px;
}

ul {
    list-style-type: square;
}

.button3 {
    margin-left: 300px; 
}